### import dependencies

In [84]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### explore the data

In [85]:
df = pd.read_csv('../../zomato.csv')
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [87]:
# function to calculate the percentage of missing values
def missing_percentage(df):
    total = df.isna().sum()[df.isna().sum() != 0]
    percent = round(total/len(df)*100,2)
    return pd.concat([total, percent], axis=1, keys=['Total','Percent'])

In [88]:
missing_percentage(df)

                             Total  Percent
rate                          7775    15.03
phone                         1208     2.34
location                        21     0.04
rest_type                      227     0.44
dish_liked                   28078    54.29
cuisines                        45     0.09
approx_cost(for two people)    346     0.67

In [89]:
# function to show number of unique values in each column
def unique_values(df):
    num = df.nunique()
    percent = round(num/len(df)*100,2)
    return pd.concat([num, percent], axis=1, keys=['number','Percent'])
unique_values(df)

                             number  Percent
url                           51717   100.00
address                       11495    22.23
name                           8792    17.00
online_order                      2     0.00
book_table                        2     0.00
rate                             64     0.12
votes                          2328     4.50
phone                         14926    28.86
location                         93     0.18
rest_type                        93     0.18
dish_liked                     5271    10.19
cuisines                       2723     5.27
approx_cost(for two people)      70     0.14
reviews_list                  22513    43.53
menu_item                      9098    17.59
listed_in(type)                   7     0.01
listed_in(city)                  30     0.06

In [90]:
len(df[df['menu_item'] == '[]'])

39617

In [91]:
df['listed_in(type)'].value_counts()

Delivery              25942
Dine-out              17779
Desserts               3593
Cafes                  1723
Drinks & nightlife     1101
Buffet                  882
Pubs and bars           697
Name: listed_in(type), dtype: int64

In [92]:
df['location'].nunique()

93

In [93]:
df['listed_in(city)'].nunique()

30

In [94]:
df[df['listed_in(city)'] != df['location']]

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
5,https://www.zomato.com/bangalore/timepass-dinn...,"37, 5-1, 4th Floor, Bosco Court, Gandhi Bazaar...",Timepass Dinner,Yes,No,3.8/5,286,+91 9980040002\r\n+91 9980063005,Basavanagudi,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600,"[('Rated 3.0', 'RATED\n Food 3/5\nAmbience 3/...",[],Buffet,Banashankari
6,https://www.zomato.com/bangalore/rosewood-inte...,"19/1, New Timberyard Layout, Beside Satellite ...",Rosewood International Hotel - Bar & Restaurant,No,No,3.6/5,8,+91 9731716688\r\n080 26740366,Mysore Road,Casual Dining,NaN,"North Indian, South Indian, Andhra, Chinese",800,"[('Rated 5.0', 'RATED\n Awesome food ??Great ...",[],Buffet,Banashankari
29,https://www.zomato.com/bangalore/srinathjis-ca...,"112, Bull Temple Road,next to more Basavanagud...",Srinathji's Cafe,No,No,3.8/5,148,080 26600704\r\n+91 9342593424,Basavanagudi,"Casual Dining, Cafe","Paratha, Sandwich, Chilli Idli, Noodles, Sandw...","North Indian, Cafe, Chinese, Fast Food",550,"[('Rated 5.0', 'RATED\n No words for the pane...",[],Cafes,Banashankari
30,https://www.zomato.com/bangalore/redberrys-bas...,"30, Surveyor Street, DVG Road, Basavanagudi, B...",Redberrys,Yes,No,4.0/5,219,+91 9148421256,Basavanagudi,Cafe,"Pizza, Fries, Anjeer Ice Cream, Sandwiches, Ge...","Cafe, Italian",600,"[('Rated 4.0', ""RATED\n Redberrys will provid...",[],Cafes,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51644,https://www.zomato.com/bangalore/punjabi-thadk...,"7/3, ASK Tower, Kundanahalli Gate, Next to Bat...",Punjabi Thadka,No,No,NaN,0,+91 7338330336\n+91 9591568221,Brookefield,Quick Bites,NaN,North Indian,400,[],[],Dine-out,Whitefield
51645,https://www.zomato.com/bangalore/raapchick-bro...,"Opposite Brookefield Mall, Kundanhalli, Brooke...",Raapchick,Yes,No,3.6 /5,49,080 41717785\n+91 9571153004,Brookefield,Quick Bites,Burgers,"Fast Food, Burger",300,"[('Rated 5.0', ""RATED\n I was randomly lookin...","['Chicken Wrap', 'Veg Crunch Burger', 'Spicy P...",Dine-out,Whitefield
51681,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Drinks & nightlife,Whitefield
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500","[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

- drop highly missing columns (more than 50% missing values) -> **'dish_liked, 'menu_item'**
( note: **'menu_item'** has more than 75% missing values as '[]', so we will drop it )
- drop columns with high cardinality -> **'url', 'address', 'name', 'phone', 'reviews_list'**

In [95]:
df.drop(['address','dish_liked','menu_item','reviews_list'], axis=1, inplace=True)

In [96]:
df.head()

,url,name,online_order,book_table,rate,votes,phone,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari

In [97]:
df.duplicated(['name', 'location', 'phone']).sum()

34903

In [98]:
df[df.duplicated(['name','location', 'phone'])].sample(5)

,url,name,online_order,book_table,rate,votes,phone,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
50201,https://www.zomato.com/bangalore/dabba-gosht-v...,Dabba Gosht,Yes,No,3.2 /5,23,NaN,"Varthur Main Road, Whitefield","Takeaway, Delivery","Arabian, Middle Eastern",400,Delivery,Whitefield
44545,https://www.zomato.com/bangalore/salaam-sigri-...,Salaam Sigri Rolls & Kebabs,Yes,No,3.8 /5,162,+91 7899727203\n+91 7899727204,New BEL Road,Quick Bites,"Rolls, Mughlai",300,Dine-out,New BEL Road
41029,https://www.zomato.com/bangalore/hind-ka-chula...,Hind Ka Chulah,Yes,No,3.7 /5,210,080 42053562,Marathahalli,Food Court,"North Indian, Biryani",600,Delivery,Marathahalli
48773,https://www.zomato.com/bangalore/skyye-lavelle...,Skyye,No,Yes,4.2 /5,3140,080 49090000\n+91 7760888899,Lavelle Road,Lounge,Continental,"2,500",Drinks & nightlife,Residency Road
47795,https://www.zomato.com/bangalore/sakae-japanes...,Sakae Japanese Restaurant,No,Yes,4.3 /5,537,+91 8660603817\n+91 8258832519,Shanti Nagar,Casual Dining,Japanese,"1,400",Delivery,Residency Road

In [99]:
df.drop_duplicates(['name', 'location', 'phone'], inplace=True)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16814 entries, 0 to 51714
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          16814 non-null  object
 1   name                         16814 non-null  object
 2   online_order                 16814 non-null  object
 3   book_table                   16814 non-null  object
 4   rate                         14119 non-null  object
 5   votes                        16814 non-null  int64
 6   phone                        16460 non-null  object
 7   location                     16803 non-null  object
 8   rest_type                    16727 non-null  object
 9   cuisines                     16785 non-null  object
 10  approx_cost(for two people)  16696 non-null  object
 11  listed_in(type)              16814 non-null  object
 12  listed_in(city)              16814 non-null  object
dtypes: int64(1), object(12)
memory usage: 1.8+ MB

### data cleaning

In [101]:
df['rate'] = df['rate'].fillna(df['rate'].mode()[0])
df['location'] = df['location'].fillna(df['location'].mode()[0])
df['rest_type'] = df['rest_type'].fillna(df['rest_type'].mode()[0])
df['cuisines'] = df['cuisines'].fillna(df['cuisines'].mode()[0])
df['approx_cost(for two people)'] = df['approx_cost(for two people)'].fillna(df['approx_cost(for two people)'].mode()[0])

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16814 entries, 0 to 51714
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          16814 non-null  object
 1   name                         16814 non-null  object
 2   online_order                 16814 non-null  object
 3   book_table                   16814 non-null  object
 4   rate                         16814 non-null  object
 5   votes                        16814 non-null  int64
 6   phone                        16460 non-null  object
 7   location                     16814 non-null  object
 8   rest_type                    16814 non-null  object
 9   cuisines                     16814 non-null  object
 10  approx_cost(for two people)  16814 non-null  object
 11  listed_in(type)              16814 non-null  object
 12  listed_in(city)              16814 non-null  object
dtypes: int64(1), object(12)
memory usage: 1.8+ MB

In [103]:
df.head()

,url,name,online_order,book_table,rate,votes,phone,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari

In [104]:
df['rate']

0         4.1/5
1         4.1/5
2         3.8/5
3         3.7/5
4         3.8/5
          ...
51628    4.2 /5
51632    3.3 /5
51641    3.2 /5
51677    2.5 /5
51714       NEW
Name: rate, Length: 16814, dtype: object

In [105]:
df['cuisines'] = df['cuisines'].apply(lambda x: tuple(x.split(',')))
df['rest_type'] = df['rest_type'].apply(lambda x: tuple(x.split(',')))

In [106]:
df = df.drop('location', axis=1)
df.drop(['name'], axis=1, inplace=True)
df.drop(['phone'], axis=1, inplace=True)

In [107]:
df['approx_cost(for two people)'] = df['approx_cost(for two people)'].apply(lambda x: int(x.replace(',','')))
df['approx_cost(for two people)'].astype('float64')

0         800.0
1         800.0
2         800.0
3         300.0
4         600.0
          ...
51628    1800.0
51632     350.0
51641     300.0
51677     800.0
51714    2000.0
Name: approx_cost(for two people), Length: 16814, dtype: float64

In [108]:
df[['cuisines', 'rest_type']]

,cuisines,rest_type
0,"(North Indian, Mughlai, Chinese)","(Casual Dining,)"
1,"(Chinese, North Indian, Thai)","(Casual Dining,)"
2,"(Cafe, Mexican, Italian)","(Cafe, Casual Dining)"
3,"(South Indian, North Indian)","(Quick Bites,)"
4,"(North Indian, Rajasthani)","(Casual Dining,)"
...,...,...
51628,"(North Indian, Continental, Asian)","(Casual Dining,)"
51632,"(North Indian, Kerala, Chinese)","(Quick Bites,)"
51641,"(Andhra, Chinese, South Indian)","(Quick Bites,)"
51677,"(Andhra, South Indian, Chinese, North Indian)","(Casual Dining, Bar)"
51714,"(Finger Food,)","(Bar,)"

In [111]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
mlb_df = mlb.fit_transform(df['cuisines'])
df.drop(['cuisines'], axis=1, inplace=True)
mlb_df = pd.DataFrame(mlb_df, columns=mlb.classes_)
mlb_df

KeyError: 'cuisines'

In [26]:
df = df.reset_index(drop=True)
df = pd.concat([df, mlb_df], axis=1)
df

,url,online_order,book_table,rate,votes,rest_type,approx_cost(for two people),listed_in(type),listed_in(city),Afghan,...,Spanish,Steak,Street Food,Sushi,Tamil,Tea,Thai,Tibetan,Turkish,Vietnamese
0,https://www.zomato.com/bangalore/jalsa-banasha...,Yes,Yes,4.1/5,775,Casual Dining,800,Buffet,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
1,https://www.zomato.com/bangalore/spice-elephan...,Yes,No,4.1/5,787,Casual Dining,800,Buffet,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
2,https://www.zomato.com/SanchurroBangalore?cont...,Yes,No,3.8/5,918,"Cafe, Casual Dining",800,Buffet,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
3,https://www.zomato.com/bangalore/addhuri-udupi...,No,No,3.7/5,88,Quick Bites,300,Buffet,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
4,https://www.zomato.com/bangalore/grand-village...,No,No,3.8/5,166,Casual Dining,600,Buffet,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16809,https://www.zomato.com/bangalore/nook-aloft-be...,No,Yes,4.2 /5,411,Casual Dining,1800,Dine-out,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0
16810,https://www.zomato.com/bangalore/seeya-restaur...,No,No,3.3 /5,4,Quick Bites,350,Dine-out,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0
16811,https://www.zomato.com/bangalore/andhra-spices...,No,No,3.2 /5,4,Quick Bites,300,Dine-out,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0
16812,https://www.zomato.com/bangalore/bhagini-2-whi...,No,No,2.5 /5,81,"Casual Dining, Bar",800,Drinks & nightlife,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0
16813,https://www.zomato.com/bangalore/plunge-sherat...,No,No,NEW,0,Bar,2000,Pubs and bars,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
df_test = df[df['rate'].isin(['NEW', np.nan])].copy()

In [28]:
df = df.drop(df[df['rate'] == np.nan].index, axis=0)
df = df.drop(df[df['rate'] == '-'].index, axis=0)

In [29]:
df['rate'] = df['rate'].apply(lambda x: float(x.split('/')[0]) if str(x) != 'NEW' else np.nan)

In [30]:
df_test

,url,online_order,book_table,rate,votes,rest_type,approx_cost(for two people),listed_in(type),listed_in(city),Afghan,...,Spanish,Steak,Street Food,Sushi,Tamil,Tea,Thai,Tibetan,Turkish,Vietnamese
70,https://www.zomato.com/bangalore/spicy-tandoor...,No,No,NEW,0,Quick Bites,150,Delivery,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
73,https://www.zomato.com/bangalore/om-sri-vinaya...,No,No,NEW,0,"Takeaway, Delivery",500,Delivery,Banashankari,0,...,0,0,1,0,0,0,0,0,0,0
82,https://www.zomato.com/bangalore/chill-out-ban...,No,No,NEW,0,Quick Bites,100,Delivery,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
88,https://www.zomato.com/bangalore/me-and-my-cak...,No,No,NEW,0,Delivery,500,Delivery,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
89,https://www.zomato.com/bangalore/sunsadm-banas...,No,No,NEW,0,"Takeaway, Delivery",400,Delivery,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16796,https://www.zomato.com/bangalore/arabian-fame-...,No,No,NEW,0,Food Court,600,Dine-out,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0
16798,https://www.zomato.com/bangalore/quick-bites-w...,Yes,No,NEW,0,Quick Bites,200,Dine-out,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0
16799,https://www.zomato.com/bangalore/shrawan-resta...,Yes,No,NEW,0,Quick Bites,300,Dine-out,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0
16808,https://www.zomato.com/bangalore/new-shalimar-...,No,No,NEW,0,Quick Bites,300,Dine-out,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0
16813,https://www.zomato.com/bangalore/plunge-sherat...,No,No,NEW,0,Bar,2000,Pubs and bars,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df = df.dropna()
df.reset_index(drop=True, inplace=True)

In [32]:
df

,url,online_order,book_table,rate,votes,rest_type,approx_cost(for two people),listed_in(type),listed_in(city),Afghan,...,Spanish,Steak,Street Food,Sushi,Tamil,Tea,Thai,Tibetan,Turkish,Vietnamese
0,https://www.zomato.com/bangalore/jalsa-banasha...,Yes,Yes,4.1,775,Casual Dining,800,Buffet,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
1,https://www.zomato.com/bangalore/spice-elephan...,Yes,No,4.1,787,Casual Dining,800,Buffet,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
2,https://www.zomato.com/SanchurroBangalore?cont...,Yes,No,3.8,918,"Cafe, Casual Dining",800,Buffet,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
3,https://www.zomato.com/bangalore/addhuri-udupi...,No,No,3.7,88,Quick Bites,300,Buffet,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
4,https://www.zomato.com/bangalore/grand-village...,No,No,3.8,166,Casual Dining,600,Buffet,Banashankari,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13222,https://www.zomato.com/bangalore/fujian-expres...,Yes,No,3.8,182,Food Court,600,Dine-out,Whitefield,0,...,0,0,0,0,0,0,1,0,0,0
13223,https://www.zomato.com/bangalore/nook-aloft-be...,No,Yes,4.2,411,Casual Dining,1800,Dine-out,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0
13224,https://www.zomato.com/bangalore/seeya-restaur...,No,No,3.3,4,Quick Bites,350,Dine-out,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0
13225,https://www.zomato.com/bangalore/andhra-spices...,No,No,3.2,4,Quick Bites,300,Dine-out,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0
13226,https://www.zomato.com/bangalore/bhagini-2-whi...,No,No,2.5,81,"Casual Dining, Bar",800,Drinks & nightlife,Whitefield,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13227 entries, 0 to 13226
Columns: 199 entries, url to Vietnamese
dtypes: float64(1), int32(190), int64(2), object(6)
memory usage: 10.5+ MB

In [34]:
df.to_csv('../data/zomato_cleaned.csv', index=False)
df_test.to_csv('../data/zomato_new.csv', index=False)